header {
    font-size: 0px;
}

#main-nav li {
    display: inline-block;
    list-style-type: none;
    background-color: #e7490b;
    text-align: center;
    width: 15%;
    min-width: 100px;
    max-width: 200px;
    line-height: 2.5rem;
    border-radius: 10px;
    margin: 20px
}

#main-nav li:hover {
    background-color: rgb(255, 109, 51);
}

#main-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, sans-serif, sans-serif;
    font-weight: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    text-decoration: none;
    color: rgb(225, 75, 16);
}

#page-title {
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 2.5rem;
    line-height: 2rem;
    width: 29.5%;
}

#page-title a {
    color: blueviolet;
}

#date {
    display: inline-block;
    text-align: right;
    font-size: 1rem;
    width: 69.5%;
}

#content-area {
    background-color: white;
    margin-left: 4em;
    margin-right: 4em;
}